@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #033860;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.box-left,
.box-right {
    width: 50vw;
}

.box-left h1 {
    color: white;
    cursor: default;
}

.box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-left img {
    width: 100%;
}

.box-right {
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-right h1 {
    text-align: center;
    color: white;
    font-weight: 200;
    cursor: default;
}

.form-box {
    background: #004385;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 65%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.20);
}

.form-box input {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 7px;
}

.forgot-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -20px;
}

.signin-box {
    color: white;
    display: flex;
    gap: 5px;
}

.forgot-field a {
    color: #05b2dc;
    text-decoration: none;
}

.forgot-field a:hover {
   text-decoration: underline; 
}

.button-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-field button {
    background: #05b2dc;
    border: none;
    border-radius: 7px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.button-field button:hover {
    box-shadow: 0px 0px 40px #05b1dc60;
    cursor: pointer;
    transition: .5s ease-out;
}

.button-field button:active {
    background: #008fb3;
    transition: .1s;
}
