@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --coralpink: #e2857f;
    --desertsand: #d6a586;
    --cerulean: #4281a4;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--cerulean);
}

header {
    position: sticky;
    top: 0;
    background: var(--cerulean);
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.089); */
    padding: 10px 2%;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h2 {
    color: var(--desertsand);
    cursor: default;
    font-weight: 500;
}

.title h1 {
    color: var(--white);
    cursor: default;
    font-weight: 200;
    margin-bottom: -10px;
}

.navbar img {
    width: 45px;
    height: 45px;
}


.navbar p {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}

.assets {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-weight: 500;
}

i {
    color: var(--white);
}

#start,
#about {
    transition: .2s ease-in-out;
}

#start:hover,
#about:hover {
    color: var(--desertsand);
}

#services_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--white);
    font-weight: 700;
    padding: 10px;
    width: 135px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--desertsand);
    transition: all .3s ease-in-out;
    gap: 10px;
}

#services_btn:hover {
    background: var(--desertsand);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.200);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px
}

.text-field {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: default;
}

.text-field p {
    color: var(--white);
    font-size: 70px;
    font-weight: 900;
}

.text-field span {
    color: var(--desertsand);
    font-size: 70px;
    font-weight: 900;
}

.image-div {
    width: 70%;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home_icon {
    width: 90%;
}

.sign-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.sign-div input {
    width: 60%;
    height: 60px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.sign-div button {
    width: 90px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: var(--coralpink);
    font-weight: 700;
    color: var(--white);
    font-size: 18px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.200);
    cursor: pointer;
    transition: .3s ease-in-out; 
}
.sign-div button:hover {
    background: #c26f6a;
}

@media screen and (max-width: 700px) {
    #about,
    #start {
        display: none;
    }

    .sign-div input {
        width: 170%;
        margin-left: 160px;
    }

    .sign-div button,
    .sign-div p {
        margin-left: 160px;
    }
}

@media screen and (max-width: 1200px) {
    #home_icon {
        display: none;
    }
}