@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --darkcp: #c26f6a;
    --coralpink: #e2857f;
    --desertsand: #d6a586;
    --cerulean: #4281a4;
    --dark-cerulean: #125579;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--cerulean);
}

header {
    position: sticky;
    top: 0;
    background: var(--cerulean);
    z-index: 1000;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 25px 10px;
    transition: .3s ease-in-out;
}

.navbar.shadow {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.090);
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h2 {
    color: var(--desertsand);
    cursor: default;
    font-weight: 500;
}

.title h1 {
    color: var(--white);
    cursor: default;
    font-weight: 200;
    margin-bottom: -10px;
}

.navbar img {
    width: 45px;
    height: 45px;
}


.navbar p {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}

.assets {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-weight: 500;
}

i {
    color: var(--white);
}

#start,
#about {
    transition: .2s ease-in-out;
}

#start:hover,
#about:hover {
    color: var(--desertsand);
}

#services_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--white);
    font-weight: 700;
    padding: 10px;
    width: 135px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--desertsand);
    transition: all .3s ease-in-out;
    gap: 10px;
}

#services_btn:hover {
    background: var(--desertsand);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.200);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}

.top-field {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: default;
    justify-self: center;
    align-items: center;
}

.text-field p {
    color: var(--white);
    font-size: 70px;
    font-weight: 900;
}

.text-field span {
    color: var(--desertsand);
    font-size: 70px;
    font-weight: 900;
}

.text-field p,
.text-field span {
    opacity: 0%;
    transition:  1s ease-in-out;
}

.image-div {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-img {
    width: 900px;
}

.sign-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    background: var(--dark-cerulean);
    padding: 50px;
    width: 70%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.200);
}

.sign-div input {
    width: 100%;
    height: 60px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.sign-div button {
    width: 90px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: var(--coralpink);
    font-weight: 700;
    color: var(--white);
    font-size: 18px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.200);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.sign-div button:hover {
    background: var(--darkcp);
}

.services-box {
    display: flex;
    flex-direction: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
}

#our-plans {
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: var(--white);
    opacity: 0%;
    transition: 1.5s ease-in-out;
}

.service-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--white);
    width: 370px;
    padding: 20px;
    border-radius: 15px;
    gap: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.200);
    cursor: default;
    opacity: 0%;
    transition: 1.5s ease-in-out;
}

.service-field h1 {
    font-size: 25px;
    text-align: center;
    color: var(--desertsand);
}

.service-field p {
    text-align: center;
}

.service-field img {
    width: 250px;
    height: 230px;
    border-radius: 10px;
}

.service-field button {
    width: 130px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: var(--coralpink);
    font-weight: 700;
    color: var(--white);
    font-size: 18px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.200);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.service-field button:hover {
    background: var(--darkcp);
}

@media screen and (max-width: 700px) {
    #home-img,
    #about,
    #start {
        display: none;
    }

    .sign-div {
        width: 170%;
        margin-left: 160px;
    }

    .services-box {
        flex-direction: column;
    }
}