@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(44, 44, 44);
}

h1 {
    width: 500px;
    color: white;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

.search-box {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 30px;
    padding: 3px;
    gap: 50px;
    background: rgb(90, 90, 90);
}

.search-box input {
    background: transparent;
    width: 400px;
    border: none;
    outline: none;
    padding: 0px 20px;
    font-size: 15px;
    color: white;
}

.search-box input::placeholder {
    color: rgb(180, 180, 180);
}

.search-box button {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 100%;
    transition: all .5s ease-out;
}

.top-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-box h1 {
    text-align: center;
    font-weight: 200;
    
}

.item-box {
    width: 1000px;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 220px;
    gap: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: 200;
    transition: .5s ease-out;
    border: 1px solid white;
}

.item:hover {
    background: rgb(73, 73, 73);
    transition: .5s ease-out;
}

.item img {
    width: 170px;
    height: 200px;
}

.search-box button i {
    color: rgb(185, 185, 185);
    font-size: 18px;
}

.search-box button:active {
    background: rgba(228, 228, 228, 0.212);
    transition: all .1s ease-in;
}