@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: #eeeeee;
}

header {
    position: sticky;
    top: 0;
    background: #eeeeee;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 2%;
}

.assets {
    display: flex;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 400px;
}

.logo h1 {
    color: #0d1f22;
    cursor: default;
    font-weight: 100;
    font-size: 35px;
}

.navbar img {
    width: 35px;
    height: 35px;
}

.navbar a {
    text-decoration: none;
    color: #0d1f22;
    font-weight: 700;
}

.assets {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-weight: 500;
}

.signBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #0d1f22;
    font-weight: 700;
    padding: 10px;
    width: 130px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #c08c51;
    transition: all .3s ease-in-out;
}

.signBtn:hover {
    background: #c08c51;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}

.text-field {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text-field p {
    color: #264027;
    font-size: 40px;
    font-weight: 700;
}

#secondary-text {
    font-size: 20px;
    color: #0d1f22;
    font-weight: 500;
}

.container img {
    width: 40%;
}