@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 110px;
    width:550px;
    gap: 20px;
    background: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px;
}

.top-box {
    width: 100%;
    gap: 30px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-box button {
    background: #96315D;
    border: none;
    color: #f2f2f2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.500);
    cursor: pointer;
    font-size: 18px;
}

.top-box input {
    padding: 15px 25px 15px;
    background: #d1d1d1;
    border: none;
    border-radius: 30px;
    width: 69%;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

.top-box input::placeholder {
    color: #838383;
    font-weight: 500;
}

.task-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    width: 100%;
}

.task {
    display: flex;
    gap: 10px;
}

.text-box {
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.text-box.done {
    background: #96315D;  
    color: #f2f2f2;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.200);
}

.buttons-box {
    display: flex;
    gap: 10px;
}

.buttons-box button {
    background: transparent;
    height: 45px;
    width: 45px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50%;
    color: #f2f2f2;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.500);
    
}

#removeBtn {
    background: #af0202;
}

#okBtn {
    background: #258300;
}


